.AnswerBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color:blanchedalmond ;
    border-radius: 5px;
    border: 1px solid black;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

.gray{
    background-color: gray;
}

.white{
    background-color: rgb(184, 180, 180)
}