.display{
    width: 700px;
    height: 50px;
    display: flex;
    background-color: aquamarine;
    color: black;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    letter-spacing: 3px;
    margin-top: 0px;
}


.easy{
    background-color: #eaac8b;
}

.medium{
    background-color: #e56b6f;
}

.hard{
    background-color: #b56576;
}